
.icon-jati:before { content: '\e800'; } /* '' */
.icon-mahoni:before { content: '\e801'; } /* '' */
.icon-pinus:before { content: '\e802'; } /* '' */
.icon-sono:before { content: '\e803'; } /* '' */
